Evangelist Flow
[{"id":"70acad19.bf1bb4","type":"chatbot-telegram-send","z":"6ed7017e.9ea7a","bot":"","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1890,"y":120,"wires":[]},{"id":"7617c33.2e5d63c","type":"chatbot-message","z":"6ed7017e.9ea7a","name":"","message":[{"message":"Eh! Eh! Non si fa {{firstName}} !\nNon bestemmiare {{payload.gods}} e ricorda sempre:"},{"message":"Perchè prendersela con {{payload.gods}} ? La vita ti ama {{payload.userN}} !"},{"message":" {{firstName}} ! Non nominare il nome di {{payload.gods}} invano!\n"}],"language":"none","x":1370,"y":120,"wires":[["f4d0cd06.457ec"]]},{"id":"f4d0cd06.457ec","type":"chatbot-image","z":"6ed7017e.9ea7a","name":"","filename":"","image":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiEe-PLDlGhKsHBAjnEv-5bNi5ukQusnM0R37SQEDEQdTxifH2bkwzPHYKCxdXewK0ASU&usqp=CAU","caption":"","x":1570,"y":120,"wires":[["70acad19.bf1bb4"]]},{"id":"2fb89db8.e2f232","type":"function","z":"6ed7017e.9ea7a","name":"","func":"var { payload } = msg;\nvar chat = msg.chat();\n\nreturn {\n    ...msg,\n    payload: {\n     gods: payload.variables.gods,\n     userN: msg.originalMessage.from.first_name,\n     userS: msg.originalMessage.from.last_name,\n     chatId: chat.get('chatId')\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["eaed5c63.1fd56","7617c33.2e5d63c"]]},{"id":"eaed5c63.1fd56","type":"change","z":"6ed7017e.9ea7a","name":"","rules":[{"t":"delete","p":"variables.gods","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":160,"wires":[["fc80c787.b75f98"]]},{"id":"cd00ee10.dd99c","type":"function","z":"6ed7017e.9ea7a","name":"","func":"var name = msg.payload.chatId.toString();\nlet sortBless = flow.get(name);\nmsg.payload = Object.entries(sortBless).sort(function(a, b) { \nreturn b[1] - a[1]});  ///msg.payload[0][0] will give name of highest non-blessed\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":240,"wires":[["f83415e4.bb5248"]]},{"id":"c76d3dc1.39cba","type":"chatbot-message","z":"6ed7017e.9ea7a","name":"","message":[{"message":""}],"language":"none","x":1650,"y":240,"wires":[["70acad19.bf1bb4"]]},{"id":"f83415e4.bb5248","type":"template","z":"6ed7017e.9ea7a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Queste persone si devono pentire: \n{{#payload}}\n- {{.}} ,\n{{/payload}}","output":"str","x":1280,"y":240,"wires":[["140cc9bf.5196c6"]]},{"id":"fc80c787.b75f98","type":"function","z":"6ed7017e.9ea7a","name":"","func":"var name = msg.payload.chatId+\".\" + msg.payload.userN + \"_\" + msg.payload.userS;\nlet notBless = flow.get(name) || 0;\nflow.set(name, notBless+1);\nlet sortBless = flow.get(\"notBless\");\n\nmsg.payload = Object.entries(sortBless).sort(function(a, b) { \nreturn b[1] - a[1]});  ///msg.payload[0][0] will give name of highest non-blessed\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":160,"wires":[["37beba66.dd1606"]]},{"id":"37beba66.dd1606","type":"change","z":"6ed7017e.9ea7a","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":160,"wires":[[]]},{"id":"140cc9bf.5196c6","type":"function","z":"6ed7017e.9ea7a","name":"","func":"console.log(msg);\n\nvar  str = msg.payload.toString() ;\nconsole.log(str);\nstr = str.replace(/_/g, \" \");\nstr = str.replace(/,/g, \"   \");\nmsg.payload=str;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":240,"wires":[["c76d3dc1.39cba"]]},{"id":"e4a3818e.3f239","type":"chatbot-nlpjs-intent","z":"6ed7017e.9ea7a","intent":"bestemmie","language":"it","utterances":["porco %gods%","porca %gods%","%gods% porco","%gods% bastardo","%gods% cane","%gods% puttana","merda %gods%","%gods% merda"],"outputs":1,"x":410,"y":340,"wires":[["4dbe2e86.40f1d"]]},{"id":"3a43e596.9f67aa","type":"chatbot-nlpjs-entity","z":"6ed7017e.9ea7a","name":"gods","language":"it","entities":[{"name":"dio","aliases":["Dio"]},{"name":"gesu","aliases":["Cristo"]},{"name":"madonna","aliases":["Maria"]}],"outputs":1,"x":390,"y":300,"wires":[["e4a3818e.3f239"]]},{"id":"b84918cd.99de38","type":"inject","z":"6ed7017e.9ea7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":260,"wires":[["3a43e596.9f67aa"]]},{"id":"7e4b05f9.05280c","type":"chatbot-nlpjs-train","z":"6ed7017e.9ea7a","name":"","debug":true,"x":400,"y":420,"wires":[[]]},{"id":"f218fe68.42e78","type":"chatbot-telegram-receive","z":"6ed7017e.9ea7a","bot":"","botProduction":"d0a84cf5.2c9b1","x":370,"y":200,"wires":[["fe898bfa.c493b8"]]},{"id":"f1f0fafb.549df8","type":"chatbot-rules","z":"6ed7017e.9ea7a","name":"","rules":[{"type":"isIntentName","intent":"bestemmie"},{"type":"command","command":"/rank"}],"outputs":2,"x":810,"y":200,"wires":[["2fb89db8.e2f232"],["cd00ee10.dd99c"]]},{"id":"fe898bfa.c493b8","type":"chatbot-nlpjs","z":"6ed7017e.9ea7a","name":"","debug":false,"scoreThreshold":50,"x":590,"y":200,"wires":[["f1f0fafb.549df8"]]},{"id":"4dbe2e86.40f1d","type":"chatbot-nlpjs-intent","z":"6ed7017e.9ea7a","intent":"lodi","language":"it","utterances":["grazie a %gods%","lode a %gods%","%gods% sia lodato","sant %gods%","%gods%"],"outputs":1,"x":390,"y":380,"wires":[["7e4b05f9.05280c"]]},{"id":"d0a84cf5.2c9b1","type":"chatbot-telegram-node","botname":"HerfiodenaBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]
